<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader('포스트 등록 페이지')}"></th:block>
        
        <main>
            <div class="mt-2 card">
                <div class="card-body">
                    <form method="post" th:action="@{/post/create}">
                        <div class="mt-2"> <!-- name 속성은 반드시 필요!(PostCreateDto의 필드 이름과 같게 해야함) -->
                            <input class="form-control" type="text" name="title" placeholder="제목" required autofocus />
                        </div>
                        <div class="mt-2">
                            <textarea class="form-control" rows="5" name="content" placeholder="내용" required></textarea>
                        </div>
                        <div class="d-none">
                            <input class="form-control" type="text" name="author" placeholder="작성자" th:value="${#authentication.name}" readonly />
                        </div>
                        <div class="mt-2">
                            <input class="form-control btn btn-outline-success" type="submit" value="저장" />
                        </div>
                    </form>
                </div>
            </div>
        </main>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>