<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
		<div th:replace="~{/layout/fragments :: pageHeader('나라 목록')}"></div>
        
        <main class="m-2">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>나라 ID</th>
                        <th>나라 이름</th>
                        <th>대륙 번호</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="country : ${countries}" th:object="${country}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{countryName}"></td>
                        <td>
                            <a th:href="@{/region/details(id=*{region.id})}" th:text="*{region.regionName}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>